<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container d-flex flex-wrap mt-3">
        <% program.forEach(p => { %>
            <div class="mb-3 col-3">
                <a href="/program/<%= p.program_id %>">
                    <img src="/media/<%= p.img_url %>" alt="image of <%= p.title %>" class="movieSize">
                </a>
            </div>
        <% }) %>
    </div>
</main>

<%- include('../partials/footer') %>